 <div class="page-index">
  <h1>The books</h1>
  <ul>
  {{#each books}}
    <li><a href="/books/{{this._id}}">{{this.title}}</a></li>
  {{/each}}
  </ul>
</div>

{{!-- Display the message if we have one --}}
{{#if message}}
  <div class="alert alert-primary">{{message}}</div>
{{/if}}